/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

/* Header */
header {
    background-color: #f4a261;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    background-color: #2a9d8f;
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Footer */
footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #f4a261;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;

}

footer p {
    margin-bottom: 0.5rem;
}